<%= link_to 'Welcome to Hotel Reservation', root_path %>
<% if user_signed_in? %>
  <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
