<h1>Listing hotels</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Rooms count</th>
  </tr>
 
  <% @hotels.each do |hotel| %>
    <tr>
      <td><%= hotel.name %></td>
      <td><%= hotel.rooms_count %></td>
      <td><%= link_to 'Show', hotel_path(hotel) %></td>
      <td><%= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' } %>
    </tr>
  <% end %>
</table>