<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>
 
<p>
  <strong>Rooms count:</strong>
  <%= @hotel.rooms_count %>
</p>

<% @hotel.rooms.each do |room| %>
  <ul>
	<li><% if room.reserved == false %>
  <p>Room is free</p>
<% else %>
  <p>Room is reserved</p>
<% end %></li>
	<li><%= link_to 'Show', room_path(room) %></li>	
  </ul> 
<% end %>




